@import './variables.scss';

.comments {
  margin-top: 20px;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid $color-grey-light;
      border-radius: 5px;
    }

    button {
      align-self: flex-end;
      padding: 10px 20px;
      background-color: $color-green;
      color: $color-white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($color-green, 10%);
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px;
      border-bottom: 1px solid $color-grey-light;
      margin-bottom: 10px;
    }
  }
}
