// Couleurs
$color-green: #008000;
$color-red: #ff0000; 
$color-white: #ffffff;
$color-black: #000000;
$color-grey-light: #ccc;
$color-grey-dark: #333; 
$color-grey: #666;  
$color-background: #f9f9f9;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }