// Couleurs
$color-green: #008000; // Vert pour l'Italie
$color-red: #ff0000;   // Rouge pour l'Italie
$color-white: #ffffff; // Blanc
$color-black: #000000; // Noir
$color-grey-light: #ccc; // Gris clair pour les bordures et fonds
$color-grey-dark: #333;  // Gris foncé pour les textes
$color-grey: #666;       // Gris moyen pour le texte
$color-background: #f9f9f9; // Background clair

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }